<mdb-navbar
  SideClass="navbar fixed-top navbar-expand-lg navbar-dark mdb-color scrolling-navbar ie-nav"
  [containerInside]="true"
>
  <logo>
    <a class="logo navbar-brand" href="#">
      <h1 class="text-hide" style="width: 81px; height: 72px; background: url('../../assets/primary.svg') no-repeat;">
        FilmApp</h1>
    </a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item waves-light"
        mdbWavesEffect
        *ngFor="let link of links"
        [routerLinkActive]="link.active"
      >
        <a
          class="nav-link"
          [routerLink]="link.path"
        >
          {{link.label}}
        </a>
      </li>
    </ul>
    <app-film-search></app-film-search>
  </links>
</mdb-navbar>
