
<div class="container p-3">
  <div class="container">
    <div class="row">

      <div
        class="mt-2 mb-2"
        appResponsive
        *ngFor="let film of films">
        <app-film-item
          [film]="film"
          (makeBookmark)="bookmarkFilm($event)"
          (makeFavorite)="starFilm($event)"
        ></app-film-item>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="!isLoad">
  <app-spinner></app-spinner>
</div>
<app-load-more [totalPages]="totalPages" (pageEmitter)="getNextPage($event)"></app-load-more>

